.wrapper {
  width: 100%;
  height: 100%;
  padding: 18%;
  box-sizing: border-box;
}

.prob {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: 2%;
}

.symbol {
  display: block;
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 0;
  transition: 0.15s ease opacity;
}

.visible {
  opacity: 1;
}

.cross {
  background-image: url(./cross.svg);
}

.circle {
  background-image: url(./circle.svg);
}

.button {
  appearance: none;
  display: block;
  border: 0;
  background-color: transparent;
  border-radius: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover .symbol {
    opacity: 0.25;

    @media (hover: none) {
      opacity: 0;
    }
  }
}
