.wrapper {
  position: absolute;
  top: 100%;
  padding-top: 1rem;

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.symbol {
  width: 1.25rem;
  height: 1.25rem;
}
