body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f0f0f0;
  color: black;
  font-size: 18px;
  line-height: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  line-height: 26px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 0;
}

h1:not(:last-child) {
  margin-bottom: 2rem;
}

p,
h2,
h3,
h4,
h5 {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

a {
  color: rgb(0, 0, 238);
  &:visited {
    color: rgb(0, 0, 238);
  }
}

button {
  font-size: inherit;
  padding: 0.5rem 0.75rem;

  &:not([disabled]) {
    cursor: pointer;
  }
}
